doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' href='css/LOGO.png' type='image/gif' sizes='20x20')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='css/form.css')
div
  .row
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.col-md-12
      img.col-md-3.mr-5(src='pictures/ulogo.JPG' alt='' style='width:5rem; height:5rem;')
      .col-md-8
        .navbar-brand.text-muted(style='padding-left: 20px;')
          h2
            strong(style='color:green')
              i UFARM
        .float-right
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarTogglerDemo02.collapse.navbar-collapse
            form.form-inline.my-2.my-lg-0
              input.form-control.mr-sm-2(type='search' placeholder='Search')
              button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
            ul.navbar-nav.mr-auto.mt-2.ml-2
              li.nav-item
                a#logout.nav-link(href='./logIn') Logout
div.form-row
        div.col.form-group.col-md-12   
            form.search
.container.mt-5.card(style='padding: 2%; ')
    h2 Producted Uploaded
    .mt-5(style='overflow-x:auto;')
      table.table.table-striped
        thead
          tr
            th(scope='col') Product Name
            th(scope='col') Unit Price
            th(scope='col') Quantity
            th(scope='col') Date of Upload
            th(scope='col') Home Direction
            th(scope='col') Product Type
            th(scope='col') Ward
            th(scope='col') payment
            th(scope='col') Delivery
            th(scope='col') Product Image
            th(scope='col') update
            th(scope='col') Delete
        tbody#tableBody
          if users.length
          each user in users
            tr
              td #{user.productname}
              td #{user.unitprice}
              td #{user.quantity}
              td #{user.date}
              td #{user.direction}
              td #{user.productType}
              td #{user.ward}
              td #{user.payment}
              td #{user.delivery}
              td  
                img(src='/uploads/'+user.photo height="100px" width="100px")
              td
                a(href='/updateproduct/'+ user._id) Update
              td
                form(method='POST' action='/delete')
                  input(type='hidden', placeholder='',name='id', value=user._id)
                  button.btn.btn-dark.btn-block(type="submit") Delete
          else
                  p No registrations yet :(
br
.footer.container-fluid(style='color: white;')
    h5
      i &copy; Ufarm 2020
script(src='')